$z_header: 100 !default;
select:not(.custom){display: none;}
.select2FW-wrapper{
	position: relative;
	min-width: 200px;
	// general looking
	.select2-container { width: 100%;
		margin-bottom: 1em;
		margin-right: 1em;
		@include media-max(xs){
			margin-bottom: 0.5em;
			margin-right: 0.5em;
		}
		.input-group>&,
		.form-group>&{margin-bottom: 0;
			@include media-max(xs){margin-bottom: 0;}
		}
		&.no-bg {
			.select2-selection:focus,
			.select2-selection{background: none; border-color: transparent; color: inherit;}
			+.select2-container--open{
				.select2-dropdown--above{border-bottom: input(border-size) solid input(border-color);}
				.select2-dropdown--below{border-top: input(border-size) solid input(border-color);}
			}
		}
	}
	.select2-container .select2-selection{@extend %input; height: auto; margin-bottom: 0px; margin-right: 0; position: relative;}

	// selection text field
	.select2-container--default .select2-selection--single .select2-selection__rendered{line-height: inherit; color: inherit;}
	.select2-container .select2-selection--single .select2-selection__rendered{padding-left: 0;}
	.select2-container--default .select2-selection--single .select2-selection__placeholder{color: contrastFW(input(placeholder-font-color),input(background));}
	.select2-container--default .select2-selection--single .select2-selection__clear{width: 2ch; text-align: center; font-size: 1.35em;}
	.select2-container--default .select2-selection--single .select2-selection__arrow{height: 100%; width: 28px;}
	.select2-container--default .select2-selection--single .select2-selection__arrow b{border-color: currentColor transparent transparent; border-width: 8px 6px 0; margin-left: 0; margin-top: 0; transform: translate(-50%,-50%); }
	.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b{border-color: transparent transparent currentColor; border-width: 0 6px 8px;}

	// multiple
	.select2-container--default .select2-selection--multiple{padding: 0.25rem;min-height: 0;}
	.select2-container--default.select2-container--focus .select2-selection--multiple{
		background-color: input-focus(background);
    	border-color: input-focus(border-color);
    	color: contrastFW(input-focus(font-color),input-focus(background));
    }
	.select2-container .select2-selection--multiple ul.select2-selection__rendered{display: flex; flex-wrap: wrap; gap: 0.25rem}
	.select2-container--default .select2-selection--multiple ul.select2-selection__rendered{padding: 0; margin-bottom: 0; }
	.select2-container--default .select2-selection--multiple .select2-selection__clear{float: none; margin-right: 0; margin-top: 0; padding: 0; font-size: 1.35em; width: 2ch; text-align: center; align-self: center; line-height: 1; order: 1000; margin-left: auto; } // arrow
	.select2-container--default .select2-selection--multiple .select2-selection__rendered li{max-width: 90%; max-width: calc(100% - 4ch);}
	.select2-container--default .select2-selection--multiple ul.select2-selection__rendered>.select2-selection__rendered,
	.select2-container--default .select2-selection--multiple .select2-selection__choice{
		float:none;
		padding: .4em .5em .4em; margin: 0 .25rem 0.25rem 0; margin: 0;  font-size: 0.75em; line-height: 1;
		color: contrastFW(input(font-color),change-color($primary,$lightness:15%));
		background-color: change-color($primary,$lightness:15%);
    	border-color: change-color($primary,$lightness:15%);
	}
	.select2-container .select2-search--inline .select2-search__field{ color: input(font-color); text-indent: 0.2em; margin: 0.25rem 0; margin: 0;}
	.select2-container--default .select2-selection--multiple .select2-selection__choice__remove{
		margin-right: 0.5em;  margin-bottom: 0; display: block; float: left; position: relative; line-height: 1;
		&, &:focus,&:hover{color: contrastFW(input(font-color),change-color($primary,$lightness:15%)); background: transparent;}
	}
	ul{@extend .no-pbreak !optional; margin-bottom: 0;}

	td &:last-child .select2-container {margin-bottom: 0;
		@include media-max(xs){margin-bottom: 0;}
	}
	textarea{min-height: 0;}
}

// dropdown
body{ 
	.select2-dropdown{ background: input(background); color: contrastFW(input(font-color),input(background)); border: input(border-size) solid input(border-color);
		z-index: $z_header - 1;
		&:not(.bodyLevel):not(.withinModal){width: auto !important; min-width: 100%;}
	  	@if input(radius) == true{border-radius: $radius;}
	  	@else{border-radius: 0;}
		ul:before{display: none;}
		&.withinModal{z-index: 100001;}
	}
	.select2-results__options{max-width: 100vw;}
	.select2-results__option{padding: .35em .65em; @include ellipsis();}

	.select2-container--default .select2-results__option--highlighted[aria-selected]{background: change-color($primary,$lightness:15%);color: contrastFW(input(font-color),change-color($primary,$lightness:15%));}
	.select2-container--default .select2-results__option[aria-selected=true]{background: change-color($primary,$lightness:10%);color: contrastFW(input(font-color),change-color($primary,$lightness:10%));}
}

// required
select{
	&[required]{
		@if function-exists(input-valid) {
			&:valid{
				&+.select2-container .select2-selection{@extend %input[required]:valid;}
			}
		}
		@if function-exists(input-invalid) {
			&:invalid{
				&+.select2-container .select2-selection{@extend %input[required]:invalid;}
			}
		}
	}
	@if function-exists(input-valid) {
		&.valid{@extend select[required]:valid;}
	}
	@if function-exists(input-invalid) {
		&.invalid{@extend select[required]:invalid;}
	}
}